* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding: 15px;
	line-height: 1.6;
	background-color: #354f52;
}

h1 {
	position: relative;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	color: #52796f;
	text-shadow: 2px 2px 0px #cad2c5, 5px 5px 5px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size: 1.2em;
	margin-top: 20px;
	text-align: center;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.7em;
	margin-top: 5px;
	text-align: center;
}

button {
	cursor: pointer;
	display: inline;
	background: #354f52;
	color: #fff;
	border: 0;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 20px 0;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

input[type="text"] {
	border: 1px #2f3e46 solid;
	font-family: 'Ubuntu', sans-serif;
	border-radius: 5px;
	background-color: #cad2c5;
	width: 300px;
	padding: 4px;
	height: 35px;
	margin-top: 20px;
	font-size: 0.5em;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.inputfile {
	font-size: 0.5em;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	color: #2f3e46;
	margin-bottom: 10px;
	padding: 10px;
}

textarea {
	border: #2f3e46 1px solid;
	border-radius: 5px;
	background: #cad2c5;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

/*********** Start Grid ********/
.grid {
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-auto-rows: minmax(20px, auto);
	justify-items: stretch;
	align-items: stretch;
}

.grid div {
	border-radius: 5px;
	background: #52796f;
	padding: 1em;
}
.grid > div:nth-child(odd) {
	background: #52796f;
}

.grid4 {
	grid-column: 1/4;
}

/*********** end Grid ********/

.grid .box {
	display: block;
	margin: auto;
	border: #2f3e46 1px solid;
	padding: 20px;
	background: #84a98c;
	width: 2.5em;
	height: 2.5em;
}

.card {
	margin: 5px;
	display: block;
	border: #ccc 1px solid;
	padding: 10px;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

footer {
	font-family: 'Ubuntu', sans-serif;
	color: #52796f;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	margin: 10px;
	padding-top: 10px;
	display: block;
}
